/*
 * Style overwrites for the status message block.
 */

.simple-status-messages {
  position: fixed;
  top: 100px;
  right: 10px;
  z-index: 1259;
  width: 30%;
  transition: all 0.25s ease;
}
[dir="rtl"] .simple-status-messages {
  right: unset;
  left: 10px;
}

.webform-message .simple-status-messages {
  top: 170px;
}

@media screen and (max-width: 767px) {
  .simple-status-messages {
    width: 100%;
    position: unset;
  }
}

.status-messages + .status-messages {
  margin-top: 0.769em;
}

.simple-status-messages .status-messages {
  position: relative;
  padding: 15px 20px 15px 35px;
  word-wrap: break-word;
  border: 1px solid;
  border-width: 1px 1px 1px 0;
  border-radius: 2px;
  background: no-repeat 10px 17px;
  overflow-wrap: break-word;
}
[dir="rtl"] .simple-status-messages .status-messages {
  padding-left: 20px;
  padding-right: 35px;
  border-right-width: 0;
  border-left-width: 1px;
  background-position: right 10px top 17px;
}

.simple-status-messages .js-webform-message__link {
  display: none !important;
}

.simple-status-messages .messages--status {
  background-image: url(../img/checked.svg);
  background-size: 16px;
  background-color: #f3faef;
  color: #325e1c;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
  box-shadow: -8px 0 0 #77b259, -4px 0px 15px rgba(0, 0, 0, 0.3);
}
[dir="rtl"] .simple-status-messages .messages--status {
  border-color: #c9e1bd transparent #c9e1bd #c9e1bd;
  box-shadow: 8px 0 0 #77b259;
}

.simple-status-messages .messages--info {
  background-image: url(../img/checked.svg);
  background-size: 16px;
  background-color: #f3faef;
  color: #325e1c;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
  box-shadow: -8px 0 0 #77b259, -4px 0px 15px rgba(0, 0, 0, 0.3);
}
[dir="rtl"] .simple-status-messages .messages--info {
  border-color: #c9e1bd transparent #c9e1bd #c9e1bd;
  box-shadow: 8px 0 0 #77b259;
}

.simple-status-messages .messages--webform {
  background-image: url(../img/checked.svg);
  background-size: 16px;
  background-color: #f3faef;
  color: #325e1c;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
  box-shadow: -8px 0 0 #77b259, -4px 0px 15px rgba(0, 0, 0, 0.3);
}
[dir="rtl"] .simple-status-messages .messages--webform {
  border-color: #c9e1bd transparent #c9e1bd #c9e1bd;
  box-shadow: 8px 0 0 #77b259;
}

.simple-status-messages .messages--warning {
  background-image: url(../img/warning.svg);
  background-size: 16px;
  color: #734c00;
  border-color: #f4daa6 #f4daa6 #f4daa6 transparent;
  background-color: #fdf8ed;
  box-shadow: -8px 0 0 #e09600, -4px 0px 15px rgba(0, 0, 0, 0.3);
}
[dir="rtl"] .simple-status-messages .messages--warning {
  border-color: #f4daa6 transparent #f4daa6 #f4daa6;
  box-shadow: 8px 0 0 #e09600;
}

.simple-status-messages .messages--error {
  background-image: url(../img/cancel.svg);
  background-size: 16px;
  color: #a51b00;
  border-color: #f9c9bf #f9c9bf #f9c9bf transparent;
  background-color: #fcf4f2;
  box-shadow: -8px 0 0 #e62600, -4px 0px 15px rgba(0, 0, 0, 0.3);
}
[dir="rtl"] .simple-status-messages .messages--error {
  border-color: #f9c9bf transparent #f9c9bf #f9c9bf;
  box-shadow: 8px 0 0 #e62600;
}

.simple-status-messages .status-message-close {
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  cursor: pointer;
}
[dir="rtl"] .simple-status-messages .status-message-close {
  right: unset;
  left: 0;
}

.simple-status-messages .status-message-close span {
  color: #000000;
  font-size: 16px;
  opacity: 0.25;
  border-bottom: none;
}

.simple-status-messages .status-message-close span:hover,
.simple-status-messages .status-message-close span:focus,
.simple-status-messages .status-message-close span:active {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
}
